
*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}

*:focus{
	outline:none;
}

html {
	text-rendering: optimizeLegibility;
}

body{
  font-size:20px;
  font-family: 'Nunito', "sans-serif";font-weight:300;
}

.container{
	overflow: hidden;
	min-width:100%;
}

h1, h2, h3, h4, h5, h6 {
  margin:10px 0;
  font-size:20px;
  font-family: 'Comfortaa', cursive;
}

.row{
	margin:0 auto;
  width:100%;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
}

footer p {
  text-align:center;
  margin: 5px auto;
  font-size:60%;
}

/* ========================== */
/* ===== LOGIN / SIGNUP ===== */
/* ========================== */

.container {
  margin-top:100px;
}

.background{
  /* background: linear-gradient(to right, #fff 50%, #F4D03F 50%); */
}

.form {
  border: 1px solid #353A3F;
  border-radius:2px;
  padding:20px 30px 5px 30px;
  /* background-color:#353A3F; */
  background-color:#F4D03F ;
  /* color:#fff; */
}

.form h1 {
  text-align: center;
  font-size: 150%;
  margin-bottom:20px;
}



.form-control {
  border-radius:0;
  border:1px solid #ccc;
  box-shadow:none;
  width:90%;
  margin:0 auto;
}

.form button {
  width:90%;
  border:none;
  border-radius:0;
  margin: 0 auto;
  padding:30px auto;
  display:block;
  background-color:#353A3F;
  color:#fff;
}

.signup button {
  margin-bottom:20px;
}

.form button:hover {
  border:none;
}

.alert {
  width:90%;
  font-size:70%;
  padding:0;
  background:none;
  border:none;
  color:#ff1103;
  margin:0 auto;
  margin-bottom:10px;
}

.form p {
  margin:15px 0;
  font-size:70%;
  text-align:center;
}

.switch-link {
  margin-top: 20px;
  text-align:center;
  padding:10px;
}

.tv-img {
  width:300px;
}


/* ========================== */
/* ========= Navbar ========= */
/* ========================== */

.navbar-brand {
  color: #F4D03F !important;
}

.nav-link {
  color:#fff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color:#F4D03F !important;
}

.dropdown-menu {
  background-color:#353A3F;
}

.dropdown-divider {
  color:#F4D03F;
}

.dropdown-item {
  color: #fff;
}
